
body, h1, h2, h3, input{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    
}
.section-wrapper{
    max-width: 940px; 
    width: 100%;
    margin: 0;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    
}

.nav-logo{
    font-size: 25px;
    padding-left: 250px;
    margin: 15px 0 19px 0;
}
.header{
    height: 540px;
    background: 
        linear-gradient(to top, rgba(253,110,110,40%), rgba(253,110,110,40%)),
        url(../img/John.png) no-repeat 100%;
        margin-top: 67px;
}
.header_offer{
    padding: 169px 0px 0px 250px;
}
.header_offer__title{
    font-size: 47px;
    color: #fff;
    width: 780px;
    height: 114px;
}
.header_large__button{
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 17px;
    width: 166px;
    height: 56px;
    margin-top: 43px;
    cursor: pointer;
}
.header_little__button{
    font-size: 18px;
    width: 119px;
    height: 56px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-left: 14px;
    cursor: pointer;
}
button:hover{
background: #FD6E6E;
opacity: 0.4;
border: double;
}
.section_skills{
    background-color: #EDEDED;
    height: 488px;
    position: relative;
}
.section_skills__statistic h2{
    color: #696969;
    font-size: 31px;
    padding-right: 176px;
}
.section_skills__statistic p{
    color: #696969;
    font-size: 14px;
    line-height: 20px;
}
.section_skills__statistic{
    display: flex;
    position: absolute;
    top: 80px;
    left: 250px;
}
.img_statistic{
    position: absolute;
    left: 570px;
    top: 178px;
    padding-top: 16px;
}
.section_portfolio h2{
    font-size: 31px;
    color: #4D4D4D;
    padding: 80px 0 33px 250px;
}
.portfolio__project{
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
}
.first-img__project{
    
}
.two-img__project{
    
}
.tree-img__project{
  
}
.four-img__project{
  
}

.five-img__project{
   
}
.six-img__project{

}
.seven-img__project{

}
.eigth-img__project{

}
.nine-img__project{

}
.ten-img__project{

}
.section_feedback{
    background-color: #EDEDED;
    height: 533px;
    display: flex;
    position: relative;
    
}
.section_feedback h2{
    font-size: 31px;
    color: #4D4D4D;
    position: absolute;
    top: 80px;
    left: 250px;
    
}
.section_feedback p {
    font-size: 14px;
    color: #A3A3A3;
    line-height: 20px;
    position: absolute;
    top: 150px;
    left: 250px;
}
.feedback-form{
    position: absolute;
    top: 80px;
    left: 570px;
}
input {
    text-decoration: none;
    border: none;
    font-size: 20px;
    color: #D1D1D1;
}

.feedback-form__name, .feedback-form__email, .feedback-form__number, .feedback-form__describe {
    width: 620px;
    height: 58px;
    background-color: #F7F7F7;
}
.feedback-form__email, .feedback-form__describe {
    background-color: #fff ;
}
::placeholder {
    color: #D1D1D1;
    font-size: 20px;
    padding-left: 15px;
}
.feedback-form__describe{
    height: 128px;
}
.feedback-form__describe::placeholder{
    position: relative;
    top: -40px;
    left: 0;
}
.feedback-form__button{
    width: 150px;
    height: 56px;
    font-size: 20px;
    color: #fff;
    background-color: #D1D1D1;
    cursor: pointer;
}
.footer p{
    color: #C4C4C4;
    margin: 35px 0px 35px 240px;
    font-size: 15px;
}